[alias]
co = checkout
st = status
lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
la = !git lg --all
update = "!f(){ git fetch origin \"$1\" && git pull --rebase --autostash origin \"$1\"; }; f"
bl = !git branch -l --color --sort -committerdate --format='%(committerdate:relative) - %(refname:short)' | grep -v 'HEAD' # | head -n 10
blr = !git branch -r --color --sort -committerdate --format='%(committerdate:relative) - %(refname:short)' | grep -v 'HEAD' | head -n 10
oc = checkout

#[remote "origin"]
#  fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[mergetool]
keepTemporaries = false
trustExitCode = false
keepBackup = false
prompt = false

[commit]
rebase = true

[user]
name = Colten Rouska
email = crouska@gmail.com

[includeIf "gitdir:/Users/**"]
path=~/.gitconfig-mac

[includeIf "gitdir:/home/**"]
path=~/.gitconfig-linux

[includeIf "gitdir:~/git/work/**"]
path = ~/.gitconfig-work

[core]
autocrlf = input
pager = delta
fsmonitor = true
untrackedCache = true
[pull]
rebase = true
[init]
defaultBranch = main

[pager]
diff = delta
log = delta
reflog = delta
show = delta

[diff]
algorithm = histogram
colorMoved = plain
renames = true
mnemonicPrefix = true
[delta]
features = side-by-side line-numbers decorations dark
plus-style = syntax "#003800"
minus-style = syntax "#3f0001"
syntax-theme = Monokai Extended
navigate = true

[delta "plain"]
features = dark
navigate = true

[interactive]
diffFilter = delta --color-only --features=interactive

[rebase]
autostash = true
[push]
simple = true
autoSetupRemote = true
[color]
ui = auto
[rerere]
enabled = true
[pack]
usePathWalk = true
[fetch]
prune = true
pruneTags = true
all = true

[help]
autocorrect = 1
[rerere]
enabled = true
autoupdate = true
